################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/angular-quickstart/bin
/angular-quickstart/obj/Debug
/angular-quickstart/node_modules
