<div class="panel panel-default" *ngIf="doctor">
    <div class="panel-heading">{{doctor.Name}} details!</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Doctor: </label>
                <div class="col-sm-10">
                    <input class="form-control" [(ngModel)]="doctor.Id"  placeholder="name" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name: </label>
                <div class="col-sm-10">
                    <input class="form-control" [(ngModel)]="doctor.Name" placeholder="name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-warning btn-block" (click)="editDoctor()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>